version: 2
jobs:
  build-go1.11:
    docker:
        - image: golang:1.11
        - image: postgres:9.6
          environment:
            POSTGRES_DB: micromdm
            POSTGRES_USER: micromdm
            POSTGRES_PASSWORD: micromdm

    working_directory: /go/src/github.com/micromdm/micromdm
    steps: &steps
      - run: printenv
      - checkout
      - run: apt-get update -y && apt-get install postgresql-client docker-cli -y
      - run: make deps
      - run: GO111MODULE=on go install github.com/pressly/goose/cmd/goose
      - run: make db-reset-test
      - run: make db-migrate-test
      - run: make test
      - run: make
      - setup_remote_docker:
          docker_layer_caching: false

      # build and push Docker image
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t micromdm:$TAG .
          #echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
          #docker push CircleCI-Public/circleci-demo-docker:$TAG

workflows:
  version: 2
  build:
    jobs:
      - build-go1.11
